<!DOCTYPE html>
<html>
  <head>
    <title>Learnee</title>

    <!-- Here go meta tags  -->
    <!-- ===================-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go css styles -->
    <!-- ===================-->

    <link href="/static/css/starter-template.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go js libraries
        and  dependencies
        (maybe try to include
        to the end of page
        for speedup) -->
    <!-- ===================-->

    <script type="text/javascript" src="/js/ibs/underscore.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/js/libs/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/js/libs/backbone.js"></script>

    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go models-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->


    <!-- Here go collections-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go views-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go routers-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go utils-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->

    <!-- Here go templates-->
    <!-- ===================-->
    <!-- ................ -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->
    <script type="text/javascript" src="/js/app/app.js"></script>
    <script type="text/javascript" src="/js/utils/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    {{{body}}}

  </body>
</html>
